@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

div {
    font-family: "San Francisco";
  }

h1 {
    text-decoration: underline;
    color: white;
}

h2 {
  color:white;
}

a {
  color:white;
}

p {
  color:white;
}

li {
  color:white;
}

table, th, td {
  border:5px
    border-collapse: collapse;
}

body {margin:0;}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #42f575;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 46px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #42f5ce;
}

.active {
background-color: #42f5a7;
}
</style>
</head>

<ul>
<li><a class="active" href="index.html">Home</a></li>
<li><a href="Bookmarks.html">Bookmarks</a></li>
<li><a href="Weekly Journal.html">Weekly Journal</a></li>
<li><a href="Tech Tuesday Topics.html">Tech Tuesday</a></li>
<li><a href="Class Projects.html">Class Projects</a></li>
<li><a href="Final Project.html">Final Project</a></li>
</ul>
