@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

div {
    font-family: "San Francisco";
  }

h1 {
    text-decoration: underline;
    color: white;
}

h2 {
  color:white;
}

a {
  color:white;
}

p {
  color:white;
}

li.normal {
  color:white;
  background-color: transparent;
}


table {
  width: 1000px;
  border:0px;
  padding:20px;
}
